* {
	cursor:url(../img/cursor.gif), auto;
}

body {
	overflow: hidden;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;	
}

.fond {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.rightHud {
	position:absolute;
	height:90%;
	width:15%;
	top:1%;
	right: 0.5%;
	border: 5px ridge silver; 
	border-radius: 25px; 
}
.leftHud {
	display:none;
	position:absolute;
	height:auto;
	width:15%;
	top:1%;
	left: 0.5%;
	border: 5px ridge silver; 
	border-radius: 25px; 
}
.topHud {
	position:absolute;
	top:1%;
	width:20%;
	left:40%; 
	border: 5px ridge silver; 
	border-radius: 25px; 
}

.rightHud *, .leftHud *, .topHud * {
	position:relative;
}
	
.hudTransparentOverlay {
	position:inherit;
	border-radius:25px;
	height:100%;
	width:100%;
	background-color:#DDDDDD;
	opacity:0.6;
}

.hudElement {
	margin: 5% 0% 5% 5%;
	font-weight: bold;
}
.topHudElement {
	margin: 2.5% 0% 2.5% 2.5%;
	font-weight: bold;
}

.rightHud img {
	height: 64px;
	width: 64px;
	border: 0;
}
.rightHud img.selected {
	height: 56px;
	width: 56px;
	border: 4px outset #00ff00;
}

#nextTurnButton {
	margin-bottom: 5px;
	font-weight: bold;
}

/* .hudOverlay img {
	width:32px;
	height:32px;
} */

.clear {
	clear: both;
}

#mainmenuwrapper {
	font-family: Times New Roman, Times, serif;
	background-color: lightgray;
	text-align: center;
	width: 25%;
	border: 5px ridge silver; 
	border-radius: 25px; 
	margin-top: 30%; 
	margin-left: 40%;
	opacity: 0.9;
	position: absolute;
	float: left;
}

#chatwrapper {
	font-family: Times New Roman, Times, serif;
	background-color: lightgray;
	text-align: center;
	width: 30%;
	margin-top: 30%;
	margin-left: 5%;
	border: 5px ridge silver; 
	border-radius: 25px; 
	opacity: 0.9;
	position: absolute;
	float: left;
}

#chatwrapper, #chatbox {
	display: none;
}

#chatbox textarea {
	resize:none;
	pointer-events: none;
	font-weight:bold;
	margin-left: 5%;
	float:left;
}	

#chatinput {
	width: 70%;
}